* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.s1 {
    color: #F7F3F5;
    background-color: #023436;
    height: 395px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
}

.s3 {
    background-color: #C4C4C4;
    height: 463px;
    margin-top: 0px;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

.d2 {
    margin-top: -600px;
    background-color: #F7F3F5;
    border-radius: 18px;
    padding-left: 10%;
    padding-top: 30px;
}

.s2 {
    padding: 10%;
}

.a {
    background-color: #B7AFAF;
    height: 100px;
    margin-top: -600px;
}

.des {
    margin-left: 100px;
    padding-top: 100px;
    font-size: 30px;
}

.al {
    margin-left: 130px;
}

.dev {
    font-size: 10px;
    color: #958E8E;
    padding-top: 10px;
    padding-left: 25px;
}

.ac {
    padding-left: 60px;
}

.en {
    font-size: 15px;
    padding-left: 40px;
    margin-top: -27px;
}

.ll {
    margin-top: 10px;
}

.lll {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 20px;
}