* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.Heading {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15%;

    background: #023436;
    margin: 0;
    font-family: 'Poppins';
    color: #E7DADA;
    padding-top: 300px;
    text-align: center;
}
.text {
  margin-top: -300px;
}
.Login {
  background: #F7F3F5;
    border-radius: 35px;
    
      margin-right: 5%;
 margin-left: 5%;
  margin-top: -30%;

}
.Enter{
  background: #F4743B;
  padding: 10px;
  height: 35px;
 width: 35px;
 border-radius: 95%;
 display: inline-block;
 margin-left: 315px;
margin-top: 310px;

 
}
.email{
  background: #F7F3F5;
  margin-top: 20px;
  margin-left: -200px;
  border: 0px solid;
}
.password {
  background: #F7F3F5;
  margin-left: -200px;
  margin-top: 40px;
  border: 0px solid;
}
.text2{
 text-align: center;
  margin-left: 4%;
  margin-top: 5%;
  
}
.Account{
margin-top: 2%;
margin-left: 15%;
}
.text3{
  margin-left: 78%;
  margin-bottom: 14px;
}
.text4{
  margin-top: 75px;
}
.arrow{
  margin-top: 7px;
  margin-left: 9px;
}
.XYZ {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
